footer {
    font-family: cursive;
    display: flex;
    background-color: $background-color;
    border-top: 3px solid $hover-color;
    position: relative;
    bottom: 0;
    width: 100%;
    grid-area: footer;
    z-index: -1;
}