footer {
    background-color: $background-color;
    border-top: 3px solid $landing-color;
    position: relative;
    bottom: 0;
    width: 100%;
    grid-area: footer;

    i {
        color: $landing-color;
    }
}