@import 'colors.scss';
@import 'footer.scss';
@import 'landing.scss';
@import 'menu.scss';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: cursive;
}

body {
    background-color: $background-color;
    display: grid;
    grid-template-areas: 
    'head'
    'content'
    'footer';
    grid-template-rows: 6vh 88vh 6vh;
}

.content {
    grid-area: content;
}

.top-bar {
    width: 100vw;
    min-height: 50px;
    padding: 5px 15px;
    background-color: $background-color;
    border-bottom: 3px solid rgba(255, 255, 255, 0.534);
    grid-area: head;

    .flex {
        display: flex;
        width: 100%;
        min-height: fit-content;
        justify-content: space-between;
        padding: 5px;

        i {
            color: $landing-color;

            &:hover {
                scale: 105%;
                cursor: pointer; 
            }
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94vh;
}

@import 'ticTacToe.scss';